<!DOCTYPE html>
<html>
   <head>
      <title>Tweets</title>
   </head>
   <body>
      <h2>Cordinates</h2>
      <form action="/api/v1/insert_data" method="POST">        
         <label for="lat_min">latitude min:</label><br>
         <input type="number" step="0.01" name="lat_min" required><br>
         <label for="lon_min">longitude min:</label><br>
         <input type="number" step="0.01" name="lon_min" required><br>
         <label for="lat_max">latitude max:</label><br>
         <input type="number" step="0.01" name="lat_max" required><br>
         <label for="lon_max">longitude max:</label><br>
         <input type="number" step="0.01" name="lon_max" required><br>
         <input type="submit" value="Submit">
      </form>
   </body>
</html>