<!DOCTYPE html>
<html>
   <head>
      <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
      <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
      <title>Spatio-temporal analysis of a twitter Stream</title>
   </head>
   <body>
      <div id="map" style = "width: 100%; height: 580px"></div>
      <div>
         <p>{{ name }}</p>
         <img src={{ url }} alt="Chart" height="42" width="42"> 
      </div>    
      <script>
      // The first parameter are the coordinates of the center of the map
      // The second parameter is the zoom level
      var map = L.map('map').setView([31.9522, 35.2332], 10);
         
      // {s}, {z}, {x} and {y} are placeholders for map tiles
      // {x} and {y} are the x/y of where you are on the map
      // {z} is the zoom level
      // {s} is the subdomain of cartodb
      let tile_Url = 'http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png';
         
      let attribution =
         '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="http://cartodb.com/attributions">CartoDB</a>'
         
      var layer = L.tileLayer(tile_Url, { attribution });
         
      // Now add the layer onto the map
      map.addLayer(layer);

      // Rectangle Section and Insert Data
      var oneCorner;
      var TwoCroner; 

      // Call the functions
      map.on('mousedown', setOneCorner);
      map.on('mouseup', setTwoCorner);
         
      function setOneCorner(e)
      {
         if (e.originalEvent.ctrlKey) {
            map.dragging.disable();
            oneCorner = e.latlng;   
            } 
      }
      
      function setTwoCorner(e)
      {
         if (e.originalEvent.ctrlKey) {
            twoCorner = e.latlng;    
            var bounds = [oneCorner, twoCorner];
            L.rectangle(bounds, {color:"#9b2226", weight:1}).addTo(map);        
         }
         map.dragging.enable();
             
         // zoom the map to the rectangle bounds
         map.fitBounds(bounds); 
             
         // sending data to flask endpoint
         const URL = '/api/v1/insert_data'
         const xhr = new XMLHttpRequest();
         sender = JSON.stringify(bounds)
         xhr.open('POST', URL);
         xhr.send(sender);
      }
      </script>
   </body>
</html>