<!DOCTYPE html>
<html>
   <head>
      <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="../static/style.css">
      <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
      <script src="../static/app.js"></script>
      <title>Tweets</title>
   </head>
   <body>
      <h1 class='title'>Spatio-temporal analysis of a twitter Stream
      </h1>
      <div class="row">
         <div class="column col-3">
            <div>
               <h2>Cordinates</h2>
               <form action="/api/v1/insert_data" method="POST" class="form">
                  <div class="row">
                     <div class="col"></div>
                     <div class="col">
                        <label for="lat_min" class="cor">latitude min</label><br>
                        <input type="number" step="0.001" name="lat_min" id="lat_min" min="-90" max="90" required><br>   
                     </div>
                     <div class="col"></div>
                     <div class="w-100"></div>
                     <div class="col">
                        <label for="lon_min" class="cor">longitude min</label><br>
                        <input type="number" step="0.001" name="lon_min" id="lon_min" min="-180" max="180" required><br>
                     </div>
                     <div class="col"></div>
                     <div class="col">
                        <label for="lon_max" class="cor">longitude max</label><br>
                        <input type="number" step="0.001" name="lon_max" id="lon_max" min="-180" max="180" required><br>
                     </div>
                     <div class="w-100"></div>
                     <div class="col"></div>
                     <div class="col">
                        <label for="lat_max" class="cor">latitude max</label><br>
                        <input type="number" step="0.001" name="lat_max" id="lat_max" min="-90" max="90" required><br>
                     </div>
                     <div class="col"></div>
                  </div>
               </form>
               <div style="padding-top: 15%;"></div>
               <div >
                  <input type="submit" value="Search" onclick="draw_rectangle()" class="align-items-center search form-control">   
               </div>
            </div>
         </div>
         
         <div class="column col-6">
            <p>{{ name }}</p>

            <img src={{ url }} alt="Chart" height="42" width="42">
         </div>    

         <div class="column" id="map">map</div>
      </div>
   <script>
      // The first parameter are the coordinates of the center of the map
      // The second parameter is the zoom level
      var map = L.map('map').setView([31.9522, 35.2332], 10);
         
      // {s}, {z}, {x} and {y} are placeholders for map tiles
      // {x} and {y} are the x/y of where you are on the map
      // {z} is the zoom level
      // {s} is the subdomain of cartodb
      let tile_Url = 'http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png';
         
      let attribution =
         '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="http://cartodb.com/attributions">CartoDB</a>'
         
      var layer = L.tileLayer(tile_Url, { attribution });
         
      // Now add the layer onto the map
      map.addLayer(layer);
   </script>
   </body>
</html>